@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400&display=swap');

body{
    background-color: #181818;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #fff;
}

header{
    padding-top: 5em;
}

header h4, .contact-bar a{
    font-family: 'Catamaran', sans-serif;
    font-weight: 100;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: 'Catamaran', sans-serif; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.015em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .contact-bar {
      padding: 0;
      list-style-type: none;
      display:flex;
      justify-content: start;
      animation: cssAnimation 0s 3.65s forwards;
      opacity: 0;
  }

  @keyframes cssAnimation {
    to   { opacity: 1; }
  }

  .contact-bar li{
    flex: 0 0 4em;
    text-align: start;
  }

  .contact-bar li:nth-child(2){
    margin-left: -1em;
  }

  .contact-bar a {
    color: #7c7c7c;
    text-decoration: none;
  }
  .contact-bar a:visited {
    color: #08bddd;
  }

